@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

/* global */
body {
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer {
  padding-top: 90px;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
a {
  color: #ff8bd1;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #ff8bd1;
}
a:visited {
  color: #ff8bd1;
}
footer a, nav a {
  margin: 10px 22px;
}
footer a:first-of-type, nav a:first-of-type {
  margin-left: 0;
}
.top-nav {
  margin-bottom: 50px;
  position: fixed;
  background: #ffffff;
  top: 0;
  padding: 10px 20px;
  z-index:1000;
  width: 100%;
  -webkit-box-shadow: 0px 4px 40px 0 rgb(62 62 62 / 15%);
          box-shadow: 0px 4px 40px 0 rgb(62 62 62 / 15%);
}
.top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
.top-nav .top-inner img {
  width: 150px;
  height: auto;
}
#menuToggle {
  display: block;
  position: relative;
  top: 15px;
  right: 40px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ff8bd1;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  -o-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
      -ms-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #ff8bd1;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
      -ms-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  display: none;
  position: fixed;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  padding-top: 125px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
}
#menuToggle input:checked ~ ul {
  display: block;
}
#menuToggle input:checked ~ ul a li{
  padding: 20px;
}
h1, h3, h4, p, span, a {
  font-family: 'Raleway', Arial, sans-serif;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 768px;
  margin: 0 auto;
}
form input, form textarea {
  margin-bottom: 10px;
  border: none;
  background: #000000;
  color: #ffffff;
  padding: 10px 20px;
}
form input {
  border-radius: 50px;
  width: 100%;
}
form textarea {
  border-radius: 25px;
  width: 100%;
}
input[type="submit"] {
  background-color: #ff8bd1;
  color: #ffffff;
  border: none;
  width: 200px;
  margin: 0 auto;
  font-family: 'Raleway', Arial, sans-serif;
}
input[type="submit"]:hover {
  background: #000000;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}
input::placeholder, textarea::placeholder {
  font-family: 'Raleway', Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}

/* index */
.cv-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: 300px auto;
  grid-template-rows: 300px auto;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid RGBA(255, 139, 209, 0.3);
  text-align: center;
}
.cv-banner > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.cv-banner > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.cv-banner img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.education-item {
  padding-left: 20px;
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-bottom: 10px;
}
.education-item:before {
  content: '▻';
  color: #ff8bd1;
  position: absolute;
  left:0;
}
.education-block {
  border-bottom: 1px solid RGBA(255, 139, 209, 0.3);
  padding-bottom: 20px;
  z-index: 1;
}
.experience-block {
  padding-bottom: 30px;
  border-bottom: 1px solid RGBA(255, 139, 209, 0.3);
}
.work-experience {
  display: -ms-grid;
  display: grid;
  padding-bottom: 20px;
}
.experience-block > span {
  padding-bottom: 20px;
}
.work-item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  margin-bottom: 20px;
}
.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px auto;
  grid-template-columns: 250px auto;
}
/* Contact Page */
.contact {
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid RGBA(255, 139, 209, 0.3);
}

.contact p {
  color: #ff8bd1;
}
.contact p a {
  color: #000000;
  text-decoration: none;
  margin-left: 8px;
}
.contact p a:visited {
  color: #000000;
}
.contact p a:hover {
  border-bottom: 2px solid #ff8bd1;
}
.form-block h3 {
  text-align: center;
}

@media (min-width: 768px) {
  /* global */
  .container {
    padding: 100px 40px 20px;
  }
  .cv-banner {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
        grid-template-areas: "image about";
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }
  .cv-banner img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
  .skills-grid {
    -ms-grid-columns: 200px auto 200px auto;
    grid-template-columns: 200px auto 200px auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  /* index */
  .cv-banner {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
        grid-template-areas: "image about";
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: left;
  }
  .cv-banner img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
  .work-item {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
    grid-template-columns: 300px auto;
    margin-bottom: 0;
  }
  .work-item:last-of-type {
    margin-bottom: 20px;
  }
  .skills-grid {
    -ms-grid-columns: 175px 30px 1fr 30px 175px 30px 1fr;
    grid-template-columns: 175px 1fr 175px 1fr;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
